<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body class="w-full min-h-screen  bg-zinc-900">
    <h3 class="text-white text-2xl font-bold mb-4">Create Account</h3>
    <div>
        <form action="/register" method="post" class="w-full h-full  flex flex-col justify-center items-center gap-2 py-10">
            <!-- NAME INPUT  -->
            <input type="text" name="name" placeholder="Name"
                class="w-full max-w-xs px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">

            <!-- User Name INPUT  -->
            <input type="text" name="username" placeholder="username"
                class="w-full max-w-xs px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">

            <!-- AGE INPUT  -->
            <input type="number" name="age" placeholder="Enter Age"
                class="w-full max-w-xs px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />

            <!-- EMAIL INPUT  -->
            <input type="email" name="email" placeholder="Enter email"
                class="w-full max-w-xs px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />

            <!-- PASSWORD INPUT  -->
            <input type="password" name="password" placeholder="Enter Password"
                class="w-full max-w-xs px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">

            <!-- SUBMIT BUTTON  -->
            <button type="submit"
                class="w-full max-w-xs px-4 py-2 bg-blue-500 text-white rounded-lg shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                Create Account
            </button>
        </form>
    </div>
</body>

</html>